# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Project specific ignores
*.csv
raw/
requirements.txt
plan.md
